.header__container-p {
  background-color: #141414;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.titulo__portfolio {
  color: #141414;
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 25px;
}
