.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 150px;
  width: 150px;
}

.contenedor-menu {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-right: 30px;
}

@media (min-width: 960px) {
  .contenedor-menu {
    display: none;
  }
}
.menu {
  background-color: #fff;
  height: 6px;
  width: 36px;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.menu_display {
  background-color: #161616;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: none;
  flex-direction: column;
}

@media (min-width: 960px) {
  .menu_display {
    display: inherit;
    background: inherit;
  }
}
.contenedor_boton {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 960px) {
  .contenedor_boton {
    display: none;
  }
}
.boton_cerrar-menu {
  font-size: 48px;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  margin-right: 20px;
  background-color: lightcoral;
  width: fit-content;
}

.contenedor_titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
@media (min-width: 960px) {
  .contenedor_titulo {
    flex-direction: row;
    margin-top: 60px;
    height: initial;
    margin-left: 320px;
  }
}
.menu__title {
  text-align: center;
  font-size: 48px;
  color: #fff;
}

@media (min-width: 960px) {
  .menu__title {
    font-size: 24px;
  }
}
